<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ASIHTTPRequest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>GKImagePicker@robseward.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>MBProgressHUD.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>MJRefresh.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Masonry.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Reachability.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SDWebImage.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SecureUDID.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>UIActionSheet-Blocks.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>XMLReader-Arc.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ZBarSDK.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>iOS-QR-Code-Encoder.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>410B25DF16EA5C5B3E2698F74F9625FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45596EEF26239801B4852A0BF25FA724</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53480ED0BE09FF49E34B1702D485CAAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68984A003564CEB8F0361515C1E0910F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FBCC6F6564B8CDD390603DC6B05BD76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>709EFBC3E467E353F9D6764396791EAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>893AD7A572BADCD6E0C9C828F948D420</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F74D9EA91F4C43190670066BAC37D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC320BF3B09D57852C0D12961DFE9A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B92CC805B2DA6FED5557538C1C1D775D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D76832EDF407CFD1EED6728658BDADAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDCE26CDE8794AF8E72BAE43A355AFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8FF9F6C54C3749C2B87A53CCC5C97AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE2F1D7B9D9FCEA148517E4657B243F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
