<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ASIHTTPRequest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DZNEmptyDataSet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>GKImagePicker@robseward.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MBProgressHUD.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MJRefresh.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Masonry.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Pods-QLZN.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Reachability.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>SDWebImage.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>SecureUDID.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>UIActionSheet-Blocks.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>XMLReader-Arc.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>ZBarSDK.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>iOS-QR-Code-Encoder.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C5C173F786FAFD76B48F85DC605E4A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>100161026DF191E4D66E886186975869</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>175B076ED45EB1A3E40F58BA14036467</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>496643A0C6647A237EA495B023CFA1A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>677BF429B18F582058B84EAF0C0EB46D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C623D1AF8229419BA603B3C66BE24B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DC8D9E02903E93BD0B2FEC9D846EA20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E033EDB5EC0819481B0546434FA577B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A00EF03998F3854D9DD8BF3C8E8D6920</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3974A18789E93C263DDB3188F0C7645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5D828940FBCC8EA2D53B34122C6480B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5C7086C7AEA8707FF05DCA2CCADB739</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0EA78F8F3362DEBC9840500226DA5E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F72B8A3EA0D4048AA2AAB531BF6B6C85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
